services:
  backend:
    build:
      context: backend
    restart: always
    ports:
      - {{ http_port }}:8000
    secrets:
      - db-password
    depends_on:
      db:
        condition: service_healthy
    environment:
      - ASPNETCORE_URLS=http://+:8000

  db:
    # We use a mariadb image which supports both amd64 & arm64 architecture
    # image: quay.io/centos7/mariadb-105-centos7
    image: mariadb:10-focal
    # If you really want to use MySQL, uncomment the following line
    # image: mysql:8
    command: '--default-authentication-plugin=mysql_native_password'
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'mysqladmin ping -h 127.0.0.1 --password="$$(cat /run/secrets/db-password)" --silent']
      interval: 3s
      retries: 5
      start_period: 30s
    secrets:
      - db-password
    volumes:
      - db-data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=example
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db-password

volumes:
  db-data:

secrets:
  db-password:
    file: db/password.txt
